@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body{
  font-family: "Lato", sans-serif;


}

.navBar ul{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
  background:palevioletred;

  /* background: rgba(164, 4, 135, 0.1); */
  list-style: none;
  
}
.navBar ul li a{
  text-decoration: none;
}

.navBar ul li a:hover{
  
  color: blue;
}

/* banner styles */

.banner_container {
  
  max-width: 1400px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);

}

.banner_text{

  max-width: 600px;
  height: 400px;
  
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  
}

.banner_title{
  font-size: 50px;
font-weight: 800;
line-height: 36px;
line-height: 56px;
text-align: left;
}

.banner_description{
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10;

  color: rgba(39, 39, 39, 0.6);
}

.banner_container img{

 
  width: 520px;
  height: 600px;
}

.banner_btn{
  display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 10px 23px 10px 23px;
color: rgb(255, 255, 255);
width: 150px;

font-size: 20px;
font-weight: 700;
line-height: 24px;

text-align: center;

border-radius: 8px;
border: none;
margin-top: 10px;
background: rgb(229, 84, 115);

}

/* banner styles send here */


/* featured styles */

.featured_title{
  color: rgb(39, 39, 39);
font-family: Lato;
font-size: 30px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
}

.featured_description{
  color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

.featured_container{
  width: 594px;
height: 132px;
margin: 0 auto;
margin-top: 100px;
text-align: center;
}

.featured_img_container{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap:20px;
}

.img_container{
  border: 2px solid blue;
  
  
}

.img_container1{
  width: 420px;
  height: 490px;
  border-radius: 80% 80% 0 0;
  text-align: center;
  background: rgba(167, 33, 98, 0.15);
}

.img_container1 img{
  width: 350px;
  border-radius: 50% 50% 0 0;
}




.img_container2{
  width: 420px;
  height: 490px;
  border-radius: 80% 80% 0 0;
  text-align: center;
  background: rgba(5, 151, 160, 0.15);

}
.img_container2 img{
  width: 420px;
  height: 470px;
}




.img_container3{
   width: 420px;
  height: 490px;
  border-radius: 80% 80% 0 0;
  text-align: center;
background: rgba(71, 125, 17, 0.15);
}


.img_container3 img{
  width: 320px;

}
/* featured styles ends */